<html lang="en">
<head>
    <link rel="stylesheet" href="//heroku-purple.s3.amazonaws.com/purple/0.4.4/css/purple.min.css">
    <script src="//heroku-purple.s3.amazonaws.com/purple/0.4.4/js/purple.min.js"></script>

    <title>Dropbox to Heroku</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Dropbox to Heroku</h1>
                <p class="lead">Deploy code from a Dropbox folder directly to Heroku in a few easy steps.</p>

                <h2>Step one <small>Connect your Heroku account</small></h2>
                <p>
                    First off, I need to be able to access your Heroku account to be able to deploy.
                </p>
                <% if !heroku? %>
                <div>
                    <form action="/auth/heroku">
                        <button type="submit" class="btn btn-primary">Connect to Heroku</button>
                    </form>
                </div>
                <% else %>
                <h4>
                    Connected to Heroku as <b><%= heroku_email %></b>
                </h4>
                <% end %>

                <h2>Step two <small>Connect your Dropbox account</small></h2>
                <p>
                    I also need to be able to access your Dropbox account so I can be notified about updated files.
                </p>
                <% if !dropbox? %>
                <div>
                    <form action="/auth/dropbox_oauth2">
                        <button type="submit" class="btn btn-primary<% unless heroku? %> disabled<% end %>">Connect to Dropbox</button>
                    </form>
                </div>
                <% else %>
                <h4>
                    Connected to Dropbox as <b><%= dropbox_name %></b>
                </h4>
                <% end %>


                <h2>Step three <small>Create an app to deploy to</small></h2>
                 <p>
                    Almost there! Let's create an app which I'll deploy your Dropbox'y code to?
                </p>
                <% if app_name.nil? %>
                <div>
                    <form action="/app" method="POST">
                        <button type="submit" class="btn btn-primary"<% unless heroku? && dropbox? %> disabled<% end %>>Create an app</button>
                    </form>
                </div>
                <% else %>
                <h4>
                    Deploying to <b><%= app_name %></b>
                </h4>
                <% end %>


                <h2>Step four <small>Add files to your Dropbox folder</small></h2>
                <p>
                    In your Dropbox folder, a new empty folder should have appeared under <code>Apps/Heroku Builder</code>.
                    <% unless app_name.nil? %>
                    Try copying in your application and head over to <a href="https://<%= app_name %>.herokuapp.com">in a few seconds</a>.
                    <% end %>
                </p>
                <p>
                    Every time you update a file in the <code>Apps/Heroku Builder</code> folder, your app will be updated.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
